body{
    background-color:gainsboro
}
.better{
     padding-top: 30px;
     font-size: large;
     color:black;
}
a{
    padding-left: 30px;
    text-align: center;
    margin:auto;
    background-color:;
    color:blue;
        
}